## **UAS Data Wranling**
### Data Cleaning Transjakarta

In [1]:
# Library import
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

Keterangan dan Informasi data :

- transID: ID unik transaksi untuk setiap transaksi.
- payCardID: Identifikasi utama pelanggan. Kartu yang digunakan pelanggan sebagai tiket masuk dan keluar.
- payCardBank: Nama penerbit bank kartu pelanggan.
- payCardName: Nama pelanggan yang terdapat di dalam kartu.
- payCardSex: Jenis kelamin pelanggan yang terdapat di dalam kartu.
- payCardBirthDate: Tahun kelahiran pelanggan.
- corridorID: ID Koridor / ID Rute sebagai kunci untuk pengelompokan rute.
- corridorName: Nama Koridor / Nama Rute yang berisi titik awal dan akhir untuk setiap rute.
- direction: 0 untuk Pergi, 1 untuk Kembali. Arah rute.
- tapInStops: ID Titik Tap In (masuk) untuk mengidentifikasi nama halte.
- tapInStopsName: Nama Halte Titik Tap In di mana pelanggan melakukan tap masuk.
- tapInStopsLat: Garis lintang Halte Titik Tap In.
- tapInStopsLon: Garis bujur Halte Titik Tap In.
- stopStartSeq: Urutan berhenti, mulai dari yang pertama, kedua, dst. Terkait dengan arah.
- tapInTime: Waktu tap masuk. Tanggal dan waktu.
- tapOutStops: ID Titik Tap Out (keluar) untuk mengidentifikasi nama halte.
- tapOutStopsName: Nama Halte Titik Tap Out di mana pelanggan melakukan tap keluar.
- tapOutStopsLat: Garis lintang Halte Titik Tap Out.
- tapOutStopsLon: Garis bujur Halte Titik Tap Out.
- stopEndSeq: Urutan berhenti, mulai dari yang pertama, kedua, dst. Terkait dengan arah.
- tapOutTime: Waktu tap keluar. Tanggal dan waktu.
- payAmount: Jumlah yang dibayar oleh pelanggan. Beberapa gratis. Beberapa tidak.

In [2]:
# Load the dataset
df = pd.read_csv('Transjakarta.csv')
display(df.head(3), df.tail(3))

,transID,payCardID,payCardBank,payCardName,payCardSex,payCardBirthDate,corridorID,corridorName,direction,tapInStops,...,tapInStopsLon,stopStartSeq,tapInTime,tapOutStops,tapOutStopsName,tapOutStopsLat,tapOutStopsLon,stopEndSeq,tapOutTime,payAmount
0,EIIW227B8L34VB,180062659848800,emoney,Bajragin Usada,M,2008,5,Matraman Baru - Ancol,1.0,P00142,...,106.84402,7,2023-04-03 05:21:44,P00253,Tegalan,-6.203101,106.85715,12.0,2023-04-03 06:00:53,3500.0
1,LGXO740D2N47GZ,4885331907664776,dki,Gandi Widodo,F,1997,6C,Stasiun Tebet - Karet via Patra Kuningan,0.0,B01963P,...,106.83302,13,2023-04-03 05:42:44,B03307P,Sampoerna Strategic,-6.217152,106.81892,21.0,2023-04-03 06:40:01,3500.0
2,DJWR385V2U57TO,4996225095064169,dki,Emong Wastuti,F,1992,R1A,Pantai Maju - Kota,0.0,B00499P,...,106.81435,38,2023-04-03 05:59:06,B04962P,Simpang Kunir Kemukus,-6.133731,106.81475,39.0,2023-04-03 06:50:55,3500.0

,transID,payCardID,payCardBank,payCardName,payCardSex,payCardBirthDate,corridorID,corridorName,direction,tapInStops,...,tapInStopsLon,stopStartSeq,tapInTime,tapOutStops,tapOutStopsName,tapOutStopsLat,tapOutStopsLon,stopEndSeq,tapOutTime,payAmount
37897,YXPP627N4G95HO,213159426675861,emoney,drg. Zahra Nashiruddin,F,1976,1T,Cibubur - Balai Kota,1.0,B02873P,...,106.81676,12,2023-04-04 10:29:47,B00226P,Buperta Cibubur,-6.370321,106.89628,14.0,2023-04-04 13:27:25,20000.0
37898,RGVK175U2U98UV,377840859133591,emoney,Ana Agustina,M,1976,JAK.13,Tanah Abang - Jembatan Lima,1.0,B02505P,...,106.80954,33,2023-04-15 19:59:26,B01787P,JPO Blok G,-6.188861,106.81135,34.0,2023-04-15 20:27:50,0.0
37899,FMZZ963S4B68ZP,501862539795,flazz,drg. Leo Najmudin,F,1985,13,Ciledug - Tendean,0.0,P00001,...,106.74786,2,2023-04-12 21:08:12,P00106,Kebayoran Lama,-6.238340,106.77752,7.0,2023-04-12 21:34:53,3500.0

### **Data Understanding**

In [3]:
# Checking data types and info
print("Data Types:", df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37900 entries, 0 to 37899
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   transID           37900 non-null  object
 1   payCardID         37900 non-null  int64
 2   payCardBank       37900 non-null  object
 3   payCardName       37900 non-null  object
 4   payCardSex        37900 non-null  object
 5   payCardBirthDate  37900 non-null  int64
 6   corridorID        36643 non-null  object
 7   corridorName      35970 non-null  object
 8   direction         37900 non-null  float64
 9   tapInStops        36687 non-null  object
 10  tapInStopsName    37900 non-null  object
 11  tapInStopsLat     37900 non-null  float64
 12  tapInStopsLon     37900 non-null  float64
 13  stopStartSeq      37900 non-null  int64
 14  tapInTime         37900 non-null  object
 15  tapOutStops       35611 non-null  object
 16  tapOutStopsName   36556 non-null  object
 17  tapOutStopsLat    36556 non-null  float64
 18  tapOutStopsLon    36556 non-null  float64
 19  stopEndSeq        36556 non-null  float64
 20  tapOutTime        36556 non-null  object
 21  payAmount         36893 non-null  float64
dtypes: float64(7), int64(3), object(12)
memory usage: 6.4+ MB
Data Types: None

In [4]:
display(df.describe(), df.describe(include='object'))

,payCardID,payCardBirthDate,direction,tapInStopsLat,tapInStopsLon,stopStartSeq,tapOutStopsLat,tapOutStopsLon,stopEndSeq,payAmount
count,3.790000e+04,37900.000000,37900.000000,37900.000000,37900.000000,37900.000000,36556.000000,36556.000000,36556.000000,36893.000000
mean,4.250060e+17,1990.089314,0.500633,-6.214838,106.841554,13.572480,-6.214651,106.841233,21.219909,2699.712683
std,1.321699e+18,13.051482,0.500006,0.057911,0.060369,12.237623,0.059022,0.060999,13.800689,4212.225592
min,6.040368e+10,1946.000000,0.000000,-6.394973,106.614730,0.000000,-6.394973,106.614730,1.000000,0.000000
25%,1.800442e+14,1982.000000,0.000000,-6.245863,106.803470,4.000000,-6.247225,106.801750,11.000000,0.000000
50%,3.507947e+15,1990.000000,1.000000,-6.214587,106.834830,10.000000,-6.214718,106.834580,18.000000,3500.000000
75%,4.699023e+15,2001.000000,1.000000,-6.175528,106.882270,19.000000,-6.174736,106.883030,29.000000,3500.000000
max,4.997694e+18,2012.000000,1.000000,-6.089429,107.023950,68.000000,-6.091746,107.023660,77.000000,20000.000000

,transID,payCardBank,payCardName,payCardSex,corridorID,corridorName,tapInStops,tapInStopsName,tapInTime,tapOutStops,tapOutStopsName,tapOutTime
count,37900,37900,37900,37900,36643,35970,36687,37900,37900,35611,36556,36556
unique,37900,6,1993,2,221,216,2570,2602,37079,2230,2248,35908
top,FMZZ963S4B68ZP,dki,Suci Wacana,F,1T,Cibubur - Balai Kota,P00170,Penjaringan,2023-04-06 17:35:40,P00016,BKN,2023-04-24 06:53:50
freq,1,18743,80,20157,400,391,236,243,3,306,316,3

In [5]:
# Data Unique pada tiap kolom
pd.set_option('display.max_colwidth',None)
listItem = []
for col in df.columns :
    listItem.append( [col, df[col].nunique(), df[col].unique()])

tabel1Desc = pd.DataFrame(columns=['Column Name', 'Number of Unique', 'Unique Sample'],
                     data=listItem)
tabel1Desc

,Column Name,Number of Unique,Unique Sample
0,transID,37900,"[EIIW227B8L34VB, LGXO740D2N47GZ, DJWR385V2U57TO, JTUZ800U7C86EH, VMLO535V7F95NJ, DDES630K2F80KC, HEMW326B9N91TV, XTKE052E5E87LN, OIHS248V7S72EB, ERXO372B2H63RB, CLWK627W2M22WO, IIEK980X1O23NZ, OPLW560U3S06UG, XESX233R4U46DN, LZFD368Q3E81HJ, KLUN542I2F21PI, XDMP644Z5Y29DB, CUPO258C0D42PY, SBPQ144H4S45RA, ZYRL615G4C05RD, MEFW094B7A84RS, ZJVI960B9I42DA, RJPK085I1K65HR, TFIO518N2X54UT, SYLN486U0E02TA, BECP746A8C28NV, KYNP204W3G29VA, MSFD430X8W13TO, MKND874X1D96HF, LFYJ535S2I30DP, TCKQ601Q5O01BC, KQIA358G2N38CX, RANO576G1J87EO, NZCE828E4J23AW, OFPJ170M5O75AP, LKXU174O1E59EP, AXTN077R7Z77JM, WQXL397G5U61OY, RLLZ887W3V14WZ, JJEK861K6E37KF, UANX737M9L25GI, VUWZ891M7I57EB, CXLW459Z3A28RD, AQPU510X2X44PT, BRUT293K1O98GA, MMEX885R3T18QL, UNFK619O2R74DX, FTGY161E2O14MG, ELVU605Z3W26IF, KPDA909R2T72GD, GIHF067H1Y81IV, IXJW013G5W79VX, PKAM574R5S22UG, IQBJ843C4G34DE, SRIX686S0S08SW, MLTY652D7F29HW, NICD824U6H93DE, YEOK544W1J67OX, OPNL705D9K64FN, KHKM512K0T88LD, RHUT145C1U25ZY, TWAK265Z0M88QR, JQIF022K9P74RM, MQCN972F9X71NY, KINJ335N6L86YT, TDIY341Y5S79UU, TFRA396G6W78PD, GXOP506G9B61EP, XESL868N6A66XN, IVHH403J9T51JH, OTGH855B8A29BP, YJMS457L2O20JF, NNAE999Q4V92XM, UCMI767D7M79GS, ZHFN555D9L05LU, WHTZ386I9S44YF, VHUC320U1S58CB, DBWI728C0M55ND, HHCJ093F0W41XK, JUNS207R4F95UA, LFIW578V8Y12XO, GYVC538M6B25WO, QRFR658M6P01AH, TKQW976R2D32RY, PCGM443G2W62OB, PEGV120E5W96OH, BUQT197K3D65PN, UNSO267V8F26WP, RHCN069U6G42WD, QMHC825R0K38KM, WGRY331M3O87VE, TKRV681O2S46RW, ELFD362R2U94NT, YYXK265F5N59SE, ZGJG301G9Z71AR, KNSE319Q1P35CC, RMJF585F2W51BQ, KFYK655N1H73XS, WTBE175B2A58NC, SVRH922T8G79FY, ...]"
1,payCardID,2000,"[180062659848800, 4885331907664776, 4996225095064169, 639099174703, 570928206772, 2251412124634980, 213155822653833, 3587341902618993, 6510013988638519, 3580401035990896, 5541851157087967, 347204308990092, 3536759468239783, 6575130739600630, 4056836188316, 4532407180860336, 4556326832434362836, 4969284110642, 502034641014, 5430018591726410, 378872365541693, 343851798729291, 676293109036, 213191293100137, 2295833910329055, 4968156435384914, 676367323901, 4384653483539395, 213155309116759, 4682220924642, 3589380857722689, 4394677357168120, 4905734029265594, 379334845079777, 346910704516122, 2247096843683316, 675990206087, 639040388584, 4947438345710982, 3539535695881465, 574726750023, 344303671677311, 3544931989278653, 4017802962833960, 5465310774429054, 347394043585982, 4723250872219869, 3545499820365948, 2718070346782735, 342531623551844, 349944373495091, 4428582927102421723, 566171543168, 213121690546749, 3527853482331808, 5542490449138301, 4380875529452127, 4172238784006231, 340065298083181, 4268640600849949, 4290559479079, 213155263532652, 4294484188649274, 180057903365395, 3551174827324245, 340858239719917, 3569562588766630, 180016859215889, 373945281501952, 5134532253940704, 3549158005951908, 379764016867073, 4189640459822695962, 4766007569419196, 3576239635494729, 587887634588, 567286069354, 4097122165824, 378851219912235, 180022972730457, 2237440645700724, 6011162006507240, 4730280883020443501, 3505707886664931, 4450403105752326, 4074114259011835374, 4000041838802, 4112330548313, 30583455954585, 3537543297101185, 2720484776954605, 3570422408611549, 2291402671071407, 676172975739, 180020791350481, 502072062834, 30385017224303, 6590854673757012, 4963710913075879668, 213104805015669, ...]"
2,payCardBank,6,"[emoney, dki, flazz, online, brizzi, bni]"
3,payCardName,1993,"[Bajragin Usada, Gandi Widodo, Emong Wastuti, Surya Wacana, Embuh Mardhiyah, Tirta Siregar, R. Devi Hariyah, S.T., Darmanto Rajasa, Cagak Maheswara, S.Sos, T. Dadap Pradana, M.Ak, Oskar Widiastuti, S.Farm, R.M. Labuh Laksmiwati, Shakila Maryadi, Danuja Usada, Nadine Utami, H. Lutfan Nurdiyanti, Sari Nababan, Hj. Ophelia Haryanti, S.Sos, Adikara Kurniawan, S.Sos, Karna Waskita, Aslijan Irawan, Garang Utama, Fathonah Saefullah, Darman Purwanti, Taufik Farida, Martana Suartini, Eluh Nugroho, Cut Hana Maulana, S.H., Tgk. Ilsa Farida, Drs. Nadia Ramadan, S.Sos, drg. Lukman Hidayanto, Ibrahim Prayoga, S.H., Ega Andriani, Salman Ramadan, Zizi Nasyiah, Tgk. Aris Pradipta, M.M., Margana Narpati, Galang Megantara, S.Ked, Rahayu Rahayu, Dr. Zulfa Tamba, S.E.I, drg. Lukita Rajata, R. Mila Wahyuni, S.Sos, Artawan Iswahyudi, M.Pd, Aurora Hasanah, Hj. Rahmi Hartati, Darmaji Wahyuni, Cager Setiawan, Cawuk Mayasari, Asman Uyainah, Zulaikha Yulianti, Oliva Sirait, dr. Belinda Handayani, S.E., Laila Simanjuntak, Pranata Wahyudin, Puti Paris Marpaung, Sutan Narji Nasyidah, Tirtayasa Sitorus, Galak Prayoga, S.Pd, Tgk. Garda Utami, Elvina Situmorang, S.Psi, Lutfan Hakim, Restu Waluyo, Gara Sitompul, Daryani Prabowo, Gangsa Widodo, Yance Pratama, S.Kom, dr. Sakura Budiman, S.IP, Zalindra Irawan, M.TI., Jamal Pudjiastuti, S.I.Kom, Suci Wacana, Mustofa Wijayanti, M.Farm, Saka Sihombing, Mutia Mayasari, Danu Suartini, S.Farm, Harsaya Natsir, Drs. Harjo Nurdiyanti, Dt. Atmaja Suartini, M.Farm, Dewi Mansur, Tina Hutasoit, Tgk. Tania Zulaika, M.Pd, Latika Sirait, Lasmanto Budiman, Zamira Puspita, T. Bagas Halimah, Dr. Intan Mulyani, S.E.I, Vero Hutagalung, Diah Marpaung, Drs. Gilda Sinaga, S.Psi, Bahuwirya Rahayu, Samsul Ramadan, Bancar Irawan, Jati Nainggolan, M.TI., Puspa Saptono, Dr. Zaenab Wulandari, S.Ked, T. Karna Sihombing, Kalim Namaga, dr. Vega Rahimah, S.Pt, Bajragin Najmudin, Ophelia Firmansyah, Sutan Garda Tampubolon, S.Pd, ...]"
4,payCardSex,2,"[M, F]"
5,payCardBirthDate,67,"[2008, 1997, 1992, 1978, 1982, 1993, 1974, 1991, 2004, 1984, 1988, 2002, 1975, 2011, 2003, 1981, 2009, 1983, 1999, 2007, 1979, 1960, 1995, 2001, 1990, 1968, 1985, 2010, 1989, 2006, 1986, 1965, 2005, 1966, 1994, 1972, 1969, 1970, 2000, 1953, 1977, 2012, 1987, 1996, 1971, 1956, 1980, 1998, 1973, 1946, 1976, 1959, 1967, 1951, 1957, 1948, 1961, 1964, 1963, 1962, 1949, 1954, 1947, 1952, 1958, 1955, 1950]"
6,corridorID,221,"[5, 6C, R1A, 11D, 12, 1T, JAK.18, nan, B14, 1Q, 5M, M7B, 9A, 4, JAK.46, S22, 13, 9E, M9, JAK.88, T11, JAK.16, 6V, 11Q, JAK.02, 11, 1C, 3B, M1, 7E, 1P, 7D, 6H, 14, BW9, JIS3, 2, JAK.15, 6N, M11, JAK.112, 9N, JAK.43B, JAK.42, 7P, JAK.36, 13B, JAK.06, JAK.14, M7, T21, 12A, 9D, 1, 3A, 3C, M8, B21, JAK.71, JAK.77, M3, JAK.44, JAK.48B, 8K, JAK.19, M10, 10D, JAK.75, B11, JAK.52, JAK.37, JAK.31, 11M, JAK.43C, 2F, 8C, M2, 12B, 5D, JAK.117, 3H, JAK.49, 7A, 7Q, JAK.20, 1M, JAK.118, 5C, JAK.27, 6Q, 4E, JAK.13, JAK.84, 2H, JAK.08, 8E, JAK.23, 6M, JAK.07, JAK.22, ...]"
7,corridorName,216,"[Matraman Baru - Ancol, Stasiun Tebet - Karet via Patra Kuningan, Pantai Maju - Kota, Pulo Gebang - Pulo Gadung 2 via PIK, Tanjung Priok - Pluit, Cibubur - Balai Kota, Kalibata - Kuningan, nan, Bekasi Barat - Kuningan, Rempoa - Blok M, Kampung Melayu - Tanah Abang via Cikini, BKN - Blok M, PGC 2 - Grogol 2, Pulo Gadung 2 - Tosari, Pasar Minggu - Jagakarsa, Ciputat - Kampung Rambutan, Ciledug - Tendean, Kebayoran Lama - Jelambar, Pinang Ranti - Pluit, Terminal Tanjung Priok - Ancol Barat, Poris Plawad - Bundaran Senayan, Cililitan - Condet, Ragunan - Gelora Bung Karno, Kampung Melayu - Pulo Gebang via BKT, Kampung Melayu - Duren Sawit, Pulo Gebang - Matraman, Pesanggrahan - Blok M, Rusun Flamboyan - Cengkareng, Blok M - Kota, Kampung Rambutan - Ragunan, Senen - Blok M, Pancoran - Kampung Rambutan, Senen - Lebak Bulus, Jakarta International Stadium - Senen, Monas - Pantai Indah Kapuk, Harmoni - Jakarta International Stadium, Bulak Turi - Tanjung Priok, Ragunan - Blok M via Kemang, Pulo Gebang - Pulo Gadung 2, Terminal Tanah Merah - Pulo Gadung, Pinang Ranti - Pramuka, Tongtek - Tebet Eco Park (TEP) - Cililitan, Kampung Melayu - Pondok Kelapa, Pulo Gadung - Monas, Pondok Kelapa - BKN, Cilangkap - Cililitan, Puri Beta - Pancoran Barat, Kampung Rambutan - Pondok Gede, Tanah Abang - Meruya, Kampung Rambutan - Monas, Pasar Minggu - Tanah Abang, Rusun Pesakih - Kalideres, Rusun Kapuk Muara - Penjaringan, Lebak Bulus - Pasar Baru, Bekasi Timur - Cawang, Pelabuhan Kaliadem - Kota, Kampung Rambutan - Pinang Ranti, Tanjung Priok - Jembatan Item, Andara - Stasiun Universitas Pancasila, Stasiun Tebet - Kampung Melayu, Batusari - Grogol, Pinang Ranti - Kampung Rambutan, PGC 2 - Tanjung Priok, Kampung Rambutan - Tanjung Priok, Cililitan - Kp. Pulo, Summarecon Bekasi - BNN, Terminal Kalideres - Terminal Muara Angke, Cililitan - Condet via Kayu Manis, Blok M - Andara, Rusun Rawa Bebek - Bukit Duri, Sarana Jaya - Tebet Eco Park (TEP) - Stasiun Cawang, Rusun Cakung Barat - Pulo Gadung, Kebayoran Lama - Tanah Abang, Pluit - Senen, PGC 1 - Ancol, Tanjung Priok - Tanah Merdeka, Jelambar - Kota, Lebak Bulus - Cipulir, Kampung Rambutan - Lebak Bulus, Blok M - PGC, Cawang UKI - Lubang Buaya, Meruya - Blok M, Taman Waduk Papanggo - Kota Tua, PGC - Juanda, Pulo Gebang - Rorotan, Dukuh Atas - Casablanca via Epicentrum Raya, Rusun Jatinegara Kaum - Pulo Gadung, Terminal Kampung Melayu - Kapin Raya, Rusun Jati Rawasari - Senen, Roxy - Benhil, Palem Semi - Bundaran Senayan, Bintaro - Blok M, Senen - Pisangan Baru, Stasiun Manggarai - Blok M, Tanah Abang - Grogol via Tawakal, Term. Tj. Priok - Pegangsaan II IGI, Cililitan - Dwikora, Rawamangun - Duren Sawit, Puri Beta - Kuningan (Express), St. LRT Pegangsaan Dua - JIS, ...]"
8,direction,2,"[1.0, 0.0]"
9,tapInStops,2570,"[P00142, B01963P, B00499P, B05587P, P00239, B00127P, B00243P, B03416P, B00795P, B05781P, B05433P, P00254, P00281, P00159, B00608P, B05291P, P00096, B00058P, P00093, B00722P, P00206, nan, P00259, B02335P, B05023P, P00233, B05833P, B06299P, B06040P, P00183, B00001P, B02831P, B00102P, P00039, P00128, B01311P, B02476P, P00114, B02994P, P00202, B02761P, B00039P, P00102, B01067P, P00064, B03675P, B03484P, P00044, B02032P, B02665P, P00151, B02638P, P00106, B02540P, B01301P, B01875P, P00145, B05351P, B00589P, B05324P, B00693P, P00104, B02760P, B04209P, P00170, P00245, B02263P, B05253P, B02408P, B03360P, B06877P, P00237, B04386P, B00292P, B02272P, B05177P, B00563P, P00287, P00036, B00671P, B01728P, B01829P, B00908P, B03711P, P00169, B06086P, B06183P, P00158, B03206P, P00083, P00014, B05080P, P00109, B05716P, B04040P, P00087, B04647P, B01790P, B00610P, B01509P, ...]"
10,tapInStopsName,2602,"[Pal Putih, Kemenkes 2, Gg. Kunir II, Taman Elok 1, Sunter Boulevard Barat, Benhil 3, Cervino Village, SDN Pondok Labu 11, Imperium, TPU Bungur, Pegangsaan Timur, Tendean, Slipi Petamburan Arah Selatan, Pasar Rumput, Gelanggang Remaja Pasar Minggu, SMK Darussalam, JORR, Apartemen Simprug Teras, Jembatan Tiga Arah Utara, Gunung Sahari Mangga Dua Timur, RS Harapan Kita Arah Utara, Lippo Mall Kramat Jati, Tirtayasa, Masjid Jami At Taqwa 2, Simpang Pahlawan Revolusi 1, St. Jatinegara 2, Univ. Moestopo Bintaro, Jln. Kayu Besar Dalam, Pantai Maju, Polda Metro Jaya, 18 Office Park, Phe Tower Kebagusan, Balai Kota 1, Cikoko Stasiun Cawang Arah Barat, Lebak Bulus, Jln. Kwitang Timur, Monas 2, Kemayoran Landas Pacu Timur, PTUN Jakarta, Rawa Selatan, Pertamina Kilang Minyak, Jln. BB Utara, Ampera Garden, Kampung Sumur, Jln. Gading Mas Barat IV, Garuda Taman Mini, Sbr. Jln. Cikoko Timur I, Sbr. Dirjen Anggaran, CSW 1, Komplek Dolog Jaya, Ps. Pondok Bambu 1, Pasar Enjo, Ps. Kramat Jati 2, Kebayoran Lama, One Park Residences, Jln. Kramat Lubang Buaya, Kec. Kembangan, Pancoran Tugu Arah Barat, SMPN 143, GBK Pintu 7, SMKN 56, Grand Pasar Minggu, Karet Sudirman, Pertamina Kalideres Daan Mogot, Sbr. Plaza Kemang 88, Penjaringan, Tanah Kusir Kodim, Masjid Amar Maruf 2, SMAK Penabur Enam 2, Menara Astra, SDN Dukuh 01, Simpang Jln. Cemara, Sumur Bor, Sbr. Sekolah Islam Al Azhar Jagakarsa, Danau Agung 1, Masjid As Sudairi, Simpang Tj. Duren Timur 5, Gg. Suka Damai, Permai Koja Arah Selatan, Cempaka Putih, Graha Dirgantara, Jatibening 1, Karang Asri, Jln. Batu Permata V, Sbr. Jln. H. Jian 2B Cipete, Penggilingan, Tebet Eco Park Selatan 3, Jln. Anggrek Raya, Pasar Pulo Gadung, RSUD Boulevard Raya, Jak Lingko Tanah Abang, Bermis, Simpang Pluit Raya, Matraman Baru, Term. Pasar Minggu 2, Sbr. Masjid Ar Rohmah, Jelambar, Sekolah Penabur Gunung Sahari, JPO Timur Pondok Indah 1, Gelanggang TB Simatupang, ...]"
11,tapInStopsLat,2587,"[-6.184631, -6.2287, -6.133132, -6.195743, -6.14965, -6.21601, -6.224355, -6.313269, -6.210363, -6.247208, -6.199263, -6.240213, -6.201948, -6.207125, -6.284615, -6.319946, -6.236104, -6.232197, -6.133383, -6.137032, -6.184489, -6.270835, -6.239207, -6.229704, -6.238658, -6.215601, -6.258469, -6.122739, -6.093637, -6.221094, -6.299146, -6.299876, -6.180598, -6.243359, -6.289413, -6.173788, -6.175999, -6.152181, -6.196388, -6.173925, -6.108789, -6.120279, -6.288794, -6.214412, -6.167384, -6.290154, -6.244364, -6.227253, -6.23994, -6.24794, -6.238102, -6.214881, -6.269037, -6.23834, -6.245436, -6.291363, -6.195068, -6.2433, -6.108442, -6.222095, -6.119094, -6.290648, -6.212457, -6.15571, -6.270024, -6.126306, -6.256997, -6.255062, -6.115644, -6.207361, -6.287794, -6.12663, -6.153046, -6.330035, -6.147281, -6.220626, -6.180482, -6.295718, -6.114359, -6.174207, -6.255702, -6.257161, -6.112414, -6.279588, -6.264625, -6.214132, -6.241699, -6.205168, -6.187434, -6.13781, -6.185496, -6.178203, -6.127123, -6.21288, -6.282492, -6.118964, -6.166548, -6.170053, -6.287054, -6.289097, ...]"
12,tapInStopsLon,2458,"[106.84402, 106.83302, 106.81435, 106.93526, 106.889, 106.81632, 106.85165, 106.80221, 106.83059, 106.77889, 106.84205, 106.83102, 106.79998, 106.84112, 106.83787, 106.74598, 106.75488, 106.78874, 106.79267, 106.83254, 106.79674, 106.86741, 106.80777, 106.8962, 106.899461, 106.86805, 106.76529, 106.73129, 106.75068, 106.81028, 106.8321, 106.83323, 106.82847, 106.85815, 106.77415, 106.85185, 106.82311, 106.85424, 106.84025, 106.85809, 106.90537, 106.79409, 106.81818, 106.91189, 106.91019, 106.88116, 106.85867, 106.898692, 106.79843, 106.91572, 106.90243, 106.87819, 106.86664, 106.77752, 106.78844, 106.90599, 106.74247, 106.84388, 106.93549, 106.80861, 106.79423, 106.84236, 106.82003, 106.70927, 106.81553, 106.79203, 106.78168, 107.02206, 106.77506, 106.8219, 106.87406, 106.85721, 106.71929, 106.82621, 106.8582, 106.8591, 106.78375, 106.89906, 106.89314, 106.87642, 106.88296, 106.94651, 106.77306, 106.86244, 106.8043, 106.93961, 106.85365, 106.9229, 106.90591, 106.7304, 106.81105, 106.89859, 106.80441, 106.86115, 106.84455, 106.89568, 106.78651, 106.84024, 106.77989, 106.77909, ...]"
13,stopStartSeq,67,"[7, 13, 38, 23, 5, 3, 25, 2, 1, 15, 17, 12, 4, 10, 19, 20, 6, 18, 28, 0, 16, 11, 9, 41, 14, 29, 40, 8, 45, 26, 48, 42, 21, 46, 34, 32, 22, 35, 47, 31, 30, 39, 24, 44, 52, 56, 36, 27, 33, 50, 37, 61, 43, 51, 54, 62, 58, 57, 65, 49, 64, 63, 55, 66, 59, 53, 68]"
14,tapInTime,37079,"[2023-04-03 05:21:44, 2023-04-03 05:42:44, 2023-04-03 05:59:06, 2023-04-03 05:44:51, 2023-04-03 06:17:35, 2023-04-03 05:08:01, 2023-04-03 06:58:21, 2023-04-03 06:44:24, 2023-04-03 06:01:44, 2023-04-03 05:57:47, 2023-04-03 06:32:28, 2023-04-03 06:22:10, 2023-04-03 06:15:04, 2023-04-03 06:12:14, 2023-04-03 05:38:44, 2023-04-03 06:43:20, 2023-04-03 06:49:48, 2023-04-03 05:41:28, 2023-04-03 06:24:23, 2023-04-03 06:43:49, 2023-04-03 05:13:08, 2023-04-03 05:08:36, 2023-04-03 06:44:28, 2023-04-03 06:45:03, 2023-04-03 05:43:14, 2023-04-03 05:48:55, 2023-04-03 06:00:19, 2023-04-03 05:49:39, 2023-04-03 05:45:14, 2023-04-03 06:15:29, 2023-04-03 06:14:02, 2023-04-03 05:11:09, 2023-04-03 06:26:34, 2023-04-03 06:44:26, 2023-04-03 05:12:22, 2023-04-03 06:47:20, 2023-04-03 06:29:57, 2023-04-03 06:32:51, 2023-04-03 05:29:43, 2023-04-03 05:28:22, 2023-04-03 05:12:53, 2023-04-03 06:50:06, 2023-04-03 05:43:45, 2023-04-03 06:02:30, 2023-04-03 06:59:14, 2023-04-03 05:49:25, 2023-04-03 05:04:52, 2023-04-03 05:35:17, 2023-04-03 06:35:17, 2023-04-03 05:51:57, 2023-04-03 06:08:12, 2023-04-03 06:36:49, 2023-04-03 05:13:45, 2023-04-03 05:58:04, 2023-04-03 06:33:41, 2023-04-03 06:51:28, 2023-04-03 05:37:47, 2023-04-03 05:33:47, 2023-04-03 05:43:23, 2023-04-03 05:15:03, 2023-04-03 05:43:48, 2023-04-03 06:13:03, 2023-04-03 06:46:54, 2023-04-03 06:20:11, 2023-04-03 06:38:56, 2023-04-03 06:51:56, 2023-04-03 06:16:29, 2023-04-03 05:19:06, 2023-04-03 05:02:15, 2023-04-03 06:12:41, 2023-04-03 05:57:55, 2023-04-03 05:12:37, 2023-04-03 05:11:15, 2023-04-03 06:49:46, 2023-04-03 05:50:00, 2023-04-03 06:42:45, 2023-04-03 06:12:01, 2023-04-03 06:41:08, 2023-04-03 05:57:05, 2023-04-03 05:59:19, 2023-04-03 06:03:33, 2023-04-03 05:42:25, 2023-04-03 06:08:56, 2023-04-03 05:21:39, 2023-04-03 05:36:10, 2023-04-03 06:07:43, 2023-04-03 05:32:18, 2023-04-03 06:23:34, 2023-04-03 05:13:09, 2023-04-03 06:23:36, 2023-04-03 06:50:15, 2023-04-03 05:57:14, 2023-04-03 05:20:00, 2023-04-03 05:43:01, 2023-04-03 05:28:25, 2023-04-03 06:25:22, 2023-04-03 06:23:23, 2023-04-03 06:03:19, 2023-04-03 06:00:02, 2023-04-03 05:59:21, ...]"
15,tapOutStops,2230,"[P00253, B03307P, B04962P, B03090P, P00098, B00694P, nan, B00899P, B01853P, B06578P, B02387P, P00129, P00216, P00135, B01062P, B03032P, P00001, P00155, P00145, B05989P, B05720P, B01393P, P00133, B05256P, B03135P, P00086, B00147P, B02195P, B03322P, P00104, B02868P, B00221P, P00121, B03885P, B02477P, P00161, B05707P, P00137, B01056P, B00242P, B00066P, P00058, B04854P, P00016, B05440P, B03953P, P00268, B01624P, B00636P, P00080, B01428P, P00096, B00959P, B02767P, B01180P, P00025, B01325P, B02556P, P00138, B02647P, B03286P, B03197P, B03277P, P00184, B05622P, B02709P, B04218P, B06065P, P00009, B06832P, B00770P, B01732P, B03637P, B01297P, P00105, P00182, B03786P, B00232P, B05714P, B04716P, B05388P, P00174, B06268P, P00191, B01638P, P00006, P00123, P00118, P00256, B04863P, B05725P, B05492P, B01377P, B01846P, B02880P, B05751P, B01860P, B02213P, B02576P, P00142, ...]"
16,tapOutStopsName,2248,"[Tegalan, Sampoerna Strategic, Simpang Kunir Kemukus, Raya Penggilingan, Kali Besar Barat, Grand Sahid, nan, Jln. Baros, Kayuringin 2, Blok M Jalur 3, Matraman 4, Mampang Prapatan, Semanggi, Matraman 2, Jln. Gabus Raya, Pusdiklat Kemenag 1, Adam Malik, Pasar Kebayoran Lama, Pancoran Tugu Arah Barat, Jln. Ancol Barat 6, Term. Poris Plawad, Jln. Mesjid Al Mabruk, Masjid Agung, SMAN 100, RS Duren Sawit 2, Jatinegara RS Premier, Bintaro Park VIew, Mall Taman Palem 3, SD Diakonia 1, Karet Sudirman, Plaza Oleos, Bundaran Senayan 1, Kuningan Timur, Sbr. Jembatan Sukamulya III, Monas 3, Pecenongan, Term. Kampung Melayu 2, Monas, Jln. Elpa Putih II, Centro Metro Broadway, Arsip Nasional RI 1, Flyover Klender, Simpang Jln. Bongo Raya, BKN, St. Duren Kalibata 4, Sbr. Klinik Win Medika, Velbak, Jln. Swakarsa III Pondok Kelapa, Gereja Santa Anna 1, Imigrasi Jakarta Timur, Jln. Olahraga 1 Raya Bogor, JORR, Jln. Bungur, Pertigaan Cedang 1, Jln. Jeruk Manis, Bundaran HI, Jln. Lorong 22, Palem Semi 1, Museum Fatahillah, Pasar Minggu, Rusun Pesakih, RSIA Kemang, Rusun Kapuk Muara, Pondok Indah 1, Taman Margahayu 2, Pelabuhan Kali Adem, Sbr. Polsek Makasar, Puskesmas Sunter Agung I, Bank Indonesia Arah Selatan, Gg. H. Ali, Honda Letjen Suprapto, Jatinegara Timur, Sbr. Jln. Angsana Kemanggisan, Jln. Kramat I Rawabinong, Kayu Putih Rawasari, Plumpang Pertamina Arah Utara, Sbr. Jln. Masjid Al Munir, Cawang Blue Bird, Term. Muara Angke 2, Simpang Batu Ampar IV Inerbang, SMPN 68, Perumnas Klender, Rusun Harum Tebet, PTC Pulo Gadung, Walikota Jakarta Timur, Jln. Taman Jatibaru Timur, Atrium, Landmark Pluit Auto Plaza, Kramat Sentiong, MH Thamrin, Simpang Jln. Kramat Jaya 1, Term. Senen, St. MRT Lebak Bulus, Jln. Mastrip, Kav Polri Blok E Jagakarsa, PLN Pusat, TK Angkasa 8, Kebayoran Baru Velbak 2, Mangga Dua Square, Panti Sosial Bina Laras, ...]"

In [6]:
# Checking for missing values
print("Missing Values Percentage:")
df.isna().sum()/df.shape[0] * 100

Missing Values Percentage:

transID             0.000000
payCardID           0.000000
payCardBank         0.000000
payCardName         0.000000
payCardSex          0.000000
payCardBirthDate    0.000000
corridorID          3.316623
corridorName        5.092348
direction           0.000000
tapInStops          3.200528
tapInStopsName      0.000000
tapInStopsLat       0.000000
tapInStopsLon       0.000000
stopStartSeq        0.000000
tapInTime           0.000000
tapOutStops         6.039578
tapOutStopsName     3.546174
tapOutStopsLat      3.546174
tapOutStopsLon      3.546174
stopEndSeq          3.546174
tapOutTime          3.546174
payAmount           2.656992
dtype: float64

In [7]:
# Checking for duplicate values
print("Count of duplicate value:")
df.duplicated().sum()

Count of duplicate value:

np.int64(0)

### **Data Cleaning**

**Step by step data cleaning**
1. Drop column yang tidak relevan untuk kebutuhan analysis
2. Checking missing value pada setiap column
3. Mengisi missing value dengan metode tertentu : 
- Mengisi value pada kolom dengan cara mengzip dengan kolom lain
- Mengisi missing dengan domain knowledge
- Drop raw yang terdapat missing value
4. Menambahkan kolom untuk mempermudah analisis
5. Melakukan normalisasi pada value di setiap column
6. Fixing data type

In [8]:
# Dropping duplicate values
df.drop_duplicates(inplace=True)

In [9]:
# Drop Columns 
df = df.drop(columns=['tapInStopsLat', 'tapInStopsLon', 'tapOutStopsLat', 'tapOutStopsLon', 'payCardName', 
                      'transID', 'payCardName', 'stopEndSeq', 'stopStartSeq'])
df.head(3)

,payCardID,payCardBank,payCardSex,payCardBirthDate,corridorID,corridorName,direction,tapInStops,tapInStopsName,tapInTime,tapOutStops,tapOutStopsName,tapOutTime,payAmount
0,180062659848800,emoney,M,2008,5,Matraman Baru - Ancol,1.0,P00142,Pal Putih,2023-04-03 05:21:44,P00253,Tegalan,2023-04-03 06:00:53,3500.0
1,4885331907664776,dki,F,1997,6C,Stasiun Tebet - Karet via Patra Kuningan,0.0,B01963P,Kemenkes 2,2023-04-03 05:42:44,B03307P,Sampoerna Strategic,2023-04-03 06:40:01,3500.0
2,4996225095064169,dki,F,1992,R1A,Pantai Maju - Kota,0.0,B00499P,Gg. Kunir II,2023-04-03 05:59:06,B04962P,Simpang Kunir Kemukus,2023-04-03 06:50:55,3500.0

In [10]:
df.isna().sum()/df.shape[0] * 100

payCardID           0.000000
payCardBank         0.000000
payCardSex          0.000000
payCardBirthDate    0.000000
corridorID          3.316623
corridorName        5.092348
direction           0.000000
tapInStops          3.200528
tapInStopsName      0.000000
tapInTime           0.000000
tapOutStops         6.039578
tapOutStopsName     3.546174
tapOutTime          3.546174
payAmount           2.656992
dtype: float64

In [11]:
# Fill the corridorID column by zipping with the corridorName column
corridor_map = dict(zip(df["corridorName"], df["corridorID"]))
df["corridorID"] = df["corridorName"].replace(corridor_map)

In [12]:
df[['corridorID']].isna().sum()

corridorID    150
dtype: int64

In [13]:
# Pengecekan kolom corridorID yang masih kosong
df.loc[df['corridorID'].isna()].head()

,payCardID,payCardBank,payCardSex,payCardBirthDate,corridorID,corridorName,direction,tapInStops,tapInStopsName,tapInTime,tapOutStops,tapOutStopsName,tapOutTime,payAmount
206,4166272280740025,dki,F,2012,NaN,Rusun Marunda - Terminal Terpadu Pulo Gebang,1.0,B04368P,Sbr. SDN Rorotan 03,2023-04-03 05:30:08,NaN,NaN,NaN,0.0
230,3587585995659591,dki,F,1982,NaN,Rusun Marunda - Terminal Terpadu Pulo Gebang,0.0,B05937P,YPI Asyaadah,2023-04-03 06:56:55,B00415P,Gg. Barokah Lingkar Timur,2023-04-03 07:38:30,0.0
506,4166272280740025,dki,F,2012,NaN,Rusun Marunda - Terminal Terpadu Pulo Gebang,0.0,B03827P,Sbr. Jln. Rorotan V Gg. 1,2023-04-03 17:24:21,B04086P,Sbr. Mesindo Tekninesia,2023-04-03 18:36:30,0.0
530,3587585995659591,dki,F,1982,NaN,Rusun Marunda - Terminal Terpadu Pulo Gebang,1.0,B04368P,Sbr. SDN Rorotan 03,2023-04-03 16:40:01,B02222P,Markas Intai Amfibi Marunda,2023-04-03 18:34:59,0.0
806,4166272280740025,dki,F,2012,NaN,Rusun Marunda - Terminal Terpadu Pulo Gebang,1.0,B04368P,Sbr. SDN Rorotan 03,2023-04-04 05:43:19,B04608P,Sbr. MIN 20 Jakarta,2023-04-04 06:17:50,0.0

In [14]:
df.loc[df['corridorID'].isna(),'corridorName'].unique()

array(['Rusun Marunda - Terminal Terpadu Pulo Gebang'], dtype=object)

kolom corridorID yang memiliki NaN hanya pada jurusan Rusun Marunda - Terminal Terpadu Pulo Gebang maka kita akan mengisinya dengan nilai JAK110A sesuai dengan referensi yang ada pada https://moovitapp.com/index/id/Tranportasi_Umum-line-JAK110A-Jakarta-2044-2026517-111162611-0

In [15]:
# Mengisi corridorID yang berisi jurusan Rusun Marunda - Terminal Terpadu Pulo Gebang
df.loc[df['corridorID'].isna(), 'corridorID'] = 'JAK110A'

In [16]:
df[['corridorID']].isna().sum()

corridorID    0
dtype: int64

In [17]:
# Pengecekan kolom corridorName yang masih kosong
df.loc[df['corridorName'].isna()].head()

,payCardID,payCardBank,payCardSex,payCardBirthDate,corridorID,corridorName,direction,tapInStops,tapInStopsName,tapInTime,tapOutStops,tapOutStopsName,tapOutTime,payAmount
7,3587341902618993,dki,F,1991,3B,NaN,1.0,B03416P,SDN Pondok Labu 11,2023-04-03 06:44:24,B00899P,Jln. Baros,2023-04-03 07:11:43,0.0
38,4947438345710982,dki,F,2006,3B,NaN,1.0,B02994P,PTUN Jakarta,2023-04-03 05:29:43,B05707P,Term. Kampung Melayu 2,2023-04-03 05:58:35,3500.0
39,3539535695881465,dki,M,1986,3B,NaN,0.0,P00202,Rawa Selatan,2023-04-03 05:28:22,P00137,Monas,2023-04-03 06:02:36,3500.0
60,4290559479079,online,M,2011,3B,NaN,1.0,B00589P,GBK Pintu 7,2023-04-03 05:43:48,B02556P,Palem Semi 1,2023-04-03 06:09:12,20000.0
61,213155263532652,emoney,F,1984,3B,NaN,0.0,B05324P,SMKN 56,2023-04-03 06:13:03,P00138,Museum Fatahillah,2023-04-03 06:50:23,3500.0

kolom corridorName yang memiliki NaN hanya ada dengan ID 3B maka kita akan mengisinya dengan nilai Flamboyan-Kalideres dengan referensi dari https://megapolitan.kompas.com/read/2023/01/12/00150001/rute-transjakarta-3b-rusun-flamboyan-kalideres.

In [18]:
# Mengisi missing value dari corridorName yang berisi ID 3B
df.loc[df['corridorName'].isna(), 'corridorName'] = 'Rusun Flamboyan-Kalideres'

In [19]:
# Pengecekkan ulang data kosong
df[['corridorName']].isna().sum()

corridorName    0
dtype: int64

Karena jumlah missing value yang terdapat pada kolom tapInStops dan hanya sebesar < 5% maka kita akan menghapus baris yang memiliki missing value pada kolom tapInStops

In [20]:
# Menghapus baris yang terdapat missing value dari tapInStops
df = df.loc[df['tapInStops'].notna()]

In [21]:
# Pengecekan baris yang terdapat nilai NaN pada kolom tapOutStopsName
df.loc[df['tapOutStopsName'].isnull()].head()

,payCardID,payCardBank,payCardSex,payCardBirthDate,corridorID,corridorName,direction,tapInStops,tapInStopsName,tapInTime,tapOutStops,tapOutStopsName,tapOutTime,payAmount
6,213155822653833,emoney,M,1974,JAK.18,Kalibata - Kuningan,0.0,B00243P,Cervino Village,2023-04-03 06:58:21,NaN,NaN,NaN,0.0
30,3589380857722689,dki,M,1995,JAK.46,Pasar Minggu - Jagakarsa,1.0,B00001P,18 Office Park,2023-04-03 06:14:02,NaN,NaN,NaN,0.0
70,3549158005951908,dki,M,1981,1T,Cibubur - Balai Kota,0.0,B02408P,Menara Astra,2023-04-03 05:57:55,NaN,NaN,NaN,20000.0
130,570918242399,flazz,F,1998,10D,Kampung Rambutan - Tanjung Priok,0.0,P00035,Cempaka Mas,2023-04-03 05:40:04,NaN,NaN,NaN,3500.0
192,3548650711273610,dki,F,2011,3F,Kalideres - Gelora Bung Karno,0.0,P00050,Dispenda Samsat Barat,2023-04-03 06:15:53,NaN,NaN,NaN,3500.0

Bisa kita lihat jika baris yang terdapat nilai NaN pada kolom tapOutStopName maka akan secara otomatis kolom tapOutTime akan berisikan nilai NaN juga,Karena jika user tidak melakukan tap out ketika turun dari bis maka kolom tapOutStops,tapOutTime dan tapOutStopName tidak akan terisi dan kita tidak dapat melakukan asumsi atau mencari referensi apabila baris yang terdapat nilai NaN pada kolom tersebut,oleh karena itu dapat kita drop baris yang memiliki nilai NaN pada 3 kolom tersebut

In [22]:
# Menghapus baris yang terdapat missing value pada kolom tapOutStops
idx = df[df['tapOutStops'].isnull()].index
df = df.drop(labels=idx)

Untuk mengisi nilai pada kolom payAmount kita dapat mengisinya dengan cara mencari referensi yang terdapat pada internet dan mengkategorikannya dengan menyesuaikan data apa saja yang kita miliki

In [23]:
# Mengecek jumlah pembayaran
df['payAmount'].unique()

array([ 3500., 20000.,     0.,    nan])

https://transjakarta.co.id/faq-transjakarta/

Dari ketentuan Transjakarta yang saya dapat pada website resmi milik Transjakarta tersebut dapat kita kategorikan dengan menyesuaikan data yang kita miliki dengan asumsi :

- Untuk mengisi missing value dengan range umur > 60 tahun maka kita akan mengisi nya dengan nilai 0 sesuai dengan ketentuan Transjakarta
- Untuk mengisi missing value dengan jurusan yang menggunakan Royal Transjakarta kita akan mengisinya dengan nilai 20000 sesuai dengan ketentuan Transjakarta
- Untuk sisanya kita akan mengisi nilai 3500 dengan asumsi penumpang dengan umur < 60 tahun dan tidak menggunakan jurusan dengan bis Royal Transjakarta

In [24]:
# Mengisi baris dengan missing value pada kolom payAmount yang sesuai dengan ketentuan
df.loc[(df['payCardBirthDate'] <= 1963) & (df['payAmount'].isna()), 'payAmount'] = 0.0

In [25]:
# Pengecekan penumpang yang memakai Royal Transjakarta dengan melihat pada kolom payAmout
df.loc[df['payAmount'] == 20000.0]['corridorID'].unique()

array(['1T', 'B14', '3B', 'T21', 'D32', 'S31', 'B13', 'D31', '1K', '6P',
       'S12'], dtype=object)

In [26]:
# Membuat list corridorID yang menggunakan Royal Transjakarta
corridor_list = ['1T', 'B14', '3B', 'T21', 'D32', 'S31', 'B13', 'D31', '1K', '6P', 'S12']

In [27]:
# Mengisi nilai missing value dengan asumsi yang menggunakan bis dengan jurusan Royal Transjakarta
df.loc[df['corridorID'].isin(corridor_list) & df['payAmount'].isna(), 'payAmount'] = 20000.0

In [28]:
# Pengecekan missing value pada kolom payAmount
df[['payAmount']].isna().sum()

payAmount    852
dtype: int64

Dapat kita lihat masih terdapat jumlah missing value 852 dengan asumsi penumpang berumur dibawah 60 tahun dan tidak menggunakan Royal Transjakarta,oleh karena itu dapat kita isi dengan nilai 3500

In [29]:
# Mengisi nilai missing value dengan asumsi seperti diatas
df.loc[df['payAmount'].isna(), 'payAmount'] = 3500.0

In [30]:
# Pengecekan missing value pada kolom payAmount
df[['payAmount']].isna().sum()

payAmount    0
dtype: int64

In [31]:
# Mengecek nilai maximum dari kolom tapInTime
df['tapInTime'].max()

'2023-04-30 21:51:08'

In [32]:
# Mengecek nilai minimum dari kolom tapInTime
df['tapInTime'].min()

'2023-04-01 06:22:27'

Kita dapat melihat data tersebut adalah data yang ada ketika tahun 2023 sehingga kita dapat mencari umur dengan cara mengurangi tahun lahir user dengan tahun 2023 sehingga dapat diperoleh data umur dari setiap user

In [33]:
# Membuat kolom baru Age berdasarkan kolom payCardBirthDate
df['Age'] =  2023 - df['payCardBirthDate']
df.insert(3, 'Age',df.pop('Age'))
df.head()

,payCardID,payCardBank,payCardSex,Age,payCardBirthDate,corridorID,corridorName,direction,tapInStops,tapInStopsName,tapInTime,tapOutStops,tapOutStopsName,tapOutTime,payAmount
0,180062659848800,emoney,M,15,2008,5,Matraman Baru - Ancol,1.0,P00142,Pal Putih,2023-04-03 05:21:44,P00253,Tegalan,2023-04-03 06:00:53,3500.0
1,4885331907664776,dki,F,26,1997,6C,Stasiun Tebet - Karet via Patra Kuningan,0.0,B01963P,Kemenkes 2,2023-04-03 05:42:44,B03307P,Sampoerna Strategic,2023-04-03 06:40:01,3500.0
2,4996225095064169,dki,F,31,1992,R1A,Pantai Maju - Kota,0.0,B00499P,Gg. Kunir II,2023-04-03 05:59:06,B04962P,Simpang Kunir Kemukus,2023-04-03 06:50:55,3500.0
3,639099174703,flazz,F,45,1978,11D,Pulo Gebang - Pulo Gadung 2 via PIK,0.0,B05587P,Taman Elok 1,2023-04-03 05:44:51,B03090P,Raya Penggilingan,2023-04-03 06:28:16,3500.0
4,570928206772,flazz,M,41,1982,12,Tanjung Priok - Pluit,0.0,P00239,Sunter Boulevard Barat,2023-04-03 06:17:35,P00098,Kali Besar Barat,2023-04-03 06:57:03,3500.0

In [34]:
# Menghapus kolom payCardBirthDate yang berisi tahun kelahiran
df = df.drop(columns='payCardBirthDate')

In [35]:
# Mengubah tipe data kolom 'tapInTime' dan 'tapOutTime' menjadi datetime
df['tapInTime'] = pd.to_datetime(df['tapInTime'])
df['tapOutTime'] = pd.to_datetime(df['tapOutTime'])

In [36]:
# Mengecek type data kolom tapInTime dan tapOutTime
df[['tapInTime','tapOutTime']].info()

<class 'pandas.core.frame.DataFrame'>
Index: 34460 entries, 0 to 37899
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tapInTime   34460 non-null  datetime64[ns]
 1   tapOutTime  34460 non-null  datetime64[ns]
dtypes: datetime64[ns](2)
memory usage: 807.7 KB

In [37]:
# Membuat kolom tapInTime,tapInDay,dan tapInDate
df['tapInTime2'] = df['tapInTime'].dt.strftime('%H:%M')
df['tapInDay'] = df['tapInTime'].dt.strftime('%A')
df['tapInDate'] = df['tapInTime'].dt.strftime('%m-%d')
df.insert(8, 'tapInTime2',df.pop('tapInTime2'))
df.insert(9, 'tapInDay',df.pop('tapInDay'))
df.insert(10, 'tapInDate',df.pop('tapInDate'))

In [38]:
# Menghapus kolom tapInTime
df = df.drop(columns='tapInTime')

In [39]:
# Mengganti nama kolom tapInTime2 menjadi tapInTime
df = df.rename(columns={'tapInTime2' : 'tapInTime'})

In [40]:
# Membuat kolom tapOutTime,tapOutDay,dan tapOutDate
df['tapOutTime2'] = df['tapOutTime'].dt.strftime('%H:%M')
df['tapOutDay'] = df['tapOutTime'].dt.strftime('%A')
df['tapOutDate'] = df['tapOutTime'].dt.strftime('%m-%d')
df.insert(13, 'tapOutTime2',df.pop('tapOutTime2'))
df.insert(14, 'tapOutDay',df.pop('tapOutDay'))
df.insert(15, 'tapOutDate',df.pop('tapOutDate'))

In [41]:
# Menghapus kolom tapOutTime
df = df.drop(columns='tapOutTime')

In [42]:
# Mengganti nama tapOutTime2 menjadi tapOutTime
df = df.rename(columns={'tapOutTime2' : 'tapOutTime'})

### **Data yang sudah bersih**

In [43]:
df.isna().sum()

payCardID          0
payCardBank        0
payCardSex         0
Age                0
corridorID         0
corridorName       0
direction          0
tapInStops         0
tapInTime          0
tapInDay           0
tapInDate          0
tapInStopsName     0
tapOutStops        0
tapOutTime         0
tapOutDay          0
tapOutDate         0
tapOutStopsName    0
payAmount          0
dtype: int64

In [44]:
listItem = []
for col in df.columns :
    listItem.append([col, df[col].dtype, df[col].isna().sum(),
                    df[col].nunique(), list(df[col].drop_duplicates().sample(2).values)]);

dfDesc = pd.DataFrame(columns=['dataFeatures', 'dataType', 'null', 'unique', 'uniqueSample'],
                     data=listItem)
print(df.shape)
dfDesc

(34460, 18)

,dataFeatures,dataType,null,unique,uniqueSample
0,payCardID,int64,0,1971,"[4317815230091374, 6011309044185857]"
1,payCardBank,object,0,6,"[online, dki]"
2,payCardSex,object,0,2,"[F, M]"
3,Age,int64,0,66,"[46, 77]"
4,corridorID,object,0,216,"[11C, JAK.50]"
5,corridorName,object,0,217,"[Ragunan - MH Thamrin via Semanggi, Kelapa Gading - Rusun Kemayoran]"
6,direction,float64,0,2,"[1.0, 0.0]"
7,tapInStops,object,0,2508,"[B02542P, B00829P]"
8,tapInTime,object,0,1014,"[17:04, 14:12]"
9,tapInDay,object,0,7,"[Saturday, Sunday]"
10,tapInDate,object,0,30,"[04-13, 04-27]"
11,tapInStopsName,object,0,2507,"[Sbr. Jln. Bendungan Hilir Gg. IV, Sbr. Jln. Flamboyan Srengseng]"
12,tapOutStops,object,0,2198,"[B03094P, B03240P]"
13,tapOutTime,object,0,1116,"[14:29, 11:35]"
14,tapOutDay,object,0,7,"[Friday, Saturday]"
15,tapOutDate,object,0,30,"[04-07, 04-01]"
16,tapOutStopsName,object,0,2197,"[Term. Kampung Melayu 2, Jln. Danau Indah Timur]"
17,payAmount,float64,0,3,"[3500.0, 20000.0]"

In [45]:
df.head()

,payCardID,payCardBank,payCardSex,Age,corridorID,corridorName,direction,tapInStops,tapInTime,tapInDay,tapInDate,tapInStopsName,tapOutStops,tapOutTime,tapOutDay,tapOutDate,tapOutStopsName,payAmount
0,180062659848800,emoney,M,15,5,Matraman Baru - Ancol,1.0,P00142,05:21,Monday,04-03,Pal Putih,P00253,06:00,Monday,04-03,Tegalan,3500.0
1,4885331907664776,dki,F,26,6C,Stasiun Tebet - Karet via Patra Kuningan,0.0,B01963P,05:42,Monday,04-03,Kemenkes 2,B03307P,06:40,Monday,04-03,Sampoerna Strategic,3500.0
2,4996225095064169,dki,F,31,R1A,Pantai Maju - Kota,0.0,B00499P,05:59,Monday,04-03,Gg. Kunir II,B04962P,06:50,Monday,04-03,Simpang Kunir Kemukus,3500.0
3,639099174703,flazz,F,45,11D,Pulo Gebang - Pulo Gadung 2 via PIK,0.0,B05587P,05:44,Monday,04-03,Taman Elok 1,B03090P,06:28,Monday,04-03,Raya Penggilingan,3500.0
4,570928206772,flazz,M,41,12,Tanjung Priok - Pluit,0.0,P00239,06:17,Monday,04-03,Sunter Boulevard Barat,P00098,06:57,Monday,04-03,Kali Besar Barat,3500.0

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 34460 entries, 0 to 37899
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   payCardID        34460 non-null  int64
 1   payCardBank      34460 non-null  object
 2   payCardSex       34460 non-null  object
 3   Age              34460 non-null  int64
 4   corridorID       34460 non-null  object
 5   corridorName     34460 non-null  object
 6   direction        34460 non-null  float64
 7   tapInStops       34460 non-null  object
 8   tapInTime        34460 non-null  object
 9   tapInDay         34460 non-null  object
 10  tapInDate        34460 non-null  object
 11  tapInStopsName   34460 non-null  object
 12  tapOutStops      34460 non-null  object
 13  tapOutTime       34460 non-null  object
 14  tapOutDay        34460 non-null  object
 15  tapOutDate       34460 non-null  object
 16  tapOutStopsName  34460 non-null  object
 17  payAmount        34460 non-null  float64
dtypes: float64(2), int64(2), object(14)
memory usage: 5.0+ MB

In [47]:
# Save df to xlsx
# df.to_excel('Transjakarta_cleaned.xlsx', index=False)